<div class="wraper">
    <div class="header">
        <div class="container">
            <div class="poisk">
                <input type="text" id="search" (keyup)="getSearch()" placeholder="Поиск">
            </div>
            <div class="filter">
                <div class="selected">
                    {{filter_placeholder}}
                </div>
                <div class="placeholder">
                    <div class="cont" (click)="getOrder_by(1)">Название</div>
                    <div class="cont" (click)="getOrder_by(2)">Приоритет</div>
                    <div class="cont" (click)="getOrder_by(3)">Скидка</div>
                </div>
            </div>
            <div class="strela" (click)="toggle_strela()">
                <div id="strelochka">
                    >
                </div>
            </div>
            <div class="sort">
                <div class="selected">
                    {{selected_sort}}
                </div>
                <div class="placeholder">
                    <div class="cont" (click)="getSort('Без фильтра')">
                        Без фильтра
                    </div>
                    <div class="cont" *ngFor="let type of Types" (click)="getSort(type.Title)">
                        {{type.Title}}
                    </div>
                </div>
            </div>
            <div class="create" (click)="modal_create = true">
                Создать запись
            </div>
        </div>
    </div>
    <div class="main">
        <div class="agents" *ngFor="let agent of MainData">
            <div class="image">

            </div>
            <div class="info right">
                <div class="info_content">{{agent.ag_type}} | {{agent.ag_title}}</div>
                <div class="info_content">Телефон {{agent.ag_phone}}</div>
                <div class="info_content">Продажи {{agent.ag_sales}}</div>
                <div class="info_content">Емейл {{agent.ag_email}}</div>
                <div class="info_content">Приоритет {{agent.ag_priority}}</div>
            </div>
            <div class="info left">
                <div class="info_right_content">{{agent.ag_disc}}%</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="goto">
            <!-- <span>Перейти на страницу</span> <input type="number" (keypress)="goto_func($event)"> -->
            Вы на {{page}} странице из {{max_page}}
        </div>
        <div class="paginator">
            <div class="page_buttons" (click)="paginator(1)"><<</div>
            <div class="page_buttons" (click)="paginator(2)"><</div>
            <div class="page_buttons" (click)="paginator(3)">></div>
            <div class="page_buttons" (click)="paginator(4)">>></div>
        </div>
    </div>
</div>
<app-create 
    *ngIf="modal_create"
    (close)="modal_create = false"
></app-create>