$backcolor: #2d2929;
$frontcolor: white;
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
backdrop22 {
    z-index: 4;
}
.create {
    z-index: 3;
    position: absolute;
    padding: 1rem 3rem 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $backcolor;
    color: white;
    // width: 50%;
    .container {
        h2 {
            text-align: center;
        }
        &_create {
            margin: 0 0 1rem 0;
            display: flex;
            span {
                margin: 0 1rem 0 0;
                width: 200px;
                display: inline-block;
            }
            input {
                width: 300px;
                color: $frontcolor;
                border: 1px solid $frontcolor;
                background-color: $backcolor;
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0 0;
            button {
                background-color: $backcolor;
            }
        }
    }
}
.error {
    z-index: 5;
    background-color: $backcolor;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    padding: 20px;
    transform: translate(50%, -50%);
    color: white;
    button {
        background-color: $backcolor;
        width: 100%;
    }
}